
<%= link_to "See All Participants", activity_appointments_path, class: 'btn btn-outline-primary'%>

<% @activity.messages.each do |message| %>
<p><%= message.user.name %></p>
<p><%= message.content %></p>
<% end %>





