<div class="footer">
  <%= link_to activity_appointments_path(@activity, status: 'declined'), method: :post do %>
    <button type="submit"><img src="https://image.flaticon.com/icons/svg/69/69324.svg" class="footer-button"></button>
  <% end %>
  <%= link_to activity_appointments_path(@activity, status: 'saved'), method: :post do %>
    <button type="submit"><img src="https://purepng.com/public/uploads/large/heart-icon-y1k.png" class="footer-button"></button>
  <% end %>
</div>

