
<div class="footer">
  <button type="submit"><img src= "https://purepng.com/public/uploads/large/heart-icon-y1k.png" class="footer-button"></button>


  <button type="submit"><img src= "https://image.flaticon.com/icons/svg/69/69324.svg" class="footer-button"></button>
</div>

