<%= render 'partials/navbar' %>
<div class="maincard">
  <img src="<%= cl_image_path booking.campervan.photo %>" class="card-img-top" alt="Image Van">
</div>
<div class="titledescription"></div>

   <%= render 'partials/footer' %>
