<%= link_to "Create Event", new_activity_path, class: 'btn btn-light, pages-button' %>

<%= link_to "Join Event", activities_path, class: 'btn btn-dark, pages-button-dark' %>

<button class="btn btn-primary">clickme</button>



