    <%= link_to new_activity_path do %>
<div class="homebanner" style="background-color: white">
  <div class="create-container">
    <h1> Create an activity </h1>
  </div>
</div>
    <% end %>
    <%= link_to activities_path do %>
<div class="homebanner" style="background-color: #4BFFA5">
  <div class="explore-container">
   <h1>  Explore activities </h1>
  </div>
</div>
   <% end %>

