// @media only screen and (max-width: 480px) {

.card-trip {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {

  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 8px;

  a {
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-size: 32px;
  }
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip .icon-info {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-trip .location-category {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.card-trip-infos {
  padding: 3vh 3vh;

  position: relative;
    height: 40vh;
}

.card-trip-infos .card-trip-user {
  position: absolute;


}


.index-picture {
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.icon-info {

  p {
    padding: 8px 0;
  }
}

.activity-info {
  text-align: left;
  padding-bottom: 2vh;

}

.description {
  padding-top: 8px;
}

.uniter-section {
  border-top: 1px solid rgba(4,15,61,0.1);
  padding: 32px 0;
  a {
    color: #040F3D;

  }
}
