// @media only screen and (max-width: 480px) {

.card-trip {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {

  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 8px 0;

  a {
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-size: 32px;
  }
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip .icon-info {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-trip .location-category {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#index {
  height: 40vh;
  position: relative;

}


.card-trip-infos {
  padding: 24px;

  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;


}


.index-picture {
  height: 42vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.icon-info {

  p {
    padding: 4px 0;
  }
}

.activity-info {
  text-align: left;
  padding-bottom: 16px;

}

.activity-picture {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.description {
  padding: 8px 0 16px 0;
}

.uniter-section {
  border-top: 1px solid rgba(4,15,61,0.1);
  padding: 32px 0;
  a {
    color: #040F3D;

  }
}
