.btn {
  border-radius: 16px;
  width: 85px;
}

#regular-button {
  color: #040F3D;
  border-color: #4BFFA5;
  background-color: #4BFFA5;
  // font-weight: bold;
}
#decline {
    color: white;
    border-color: #e8873a;
    background-color: #e8873a;
    // font-weight: bold;
  }

#messages-btn {
   color: #040F3D;
  border-color: #4BFFA5;
  background-color: #4BFFA5;
  width: 115px;
}

#edit-btn {
  color: white;
  border-color: #e8873a;
  background-color: #e8873a;
}

#delete-btn {
  color: white;
  border-color: #b51f1f;
  background-color: #b51f1f;
}

#create-btn {
   color: #040F3D;
  border-color: #4BFFA5;
  background-color: #4BFFA5;
  width: 150px;
}


.delete-user {
    color: white;
  border-color: #b51f1f;
  background-color: #b51f1f;
  width: 115px;
  font-size:15px;
  }
#facebook-btn {
  color: #040F3D;
  border-color: #4BFFA5;
  background-color: #4BFFA5;
  width: 245px;
}
