
.card-activity {
  overflow: hidden;
  height: 20vh;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-activity-img-link {
  height: 100%;
  width: 60%;
}

.card-activity-img {
  height: 20vh;
  width: 20vh;
  background-size: cover;
  background-position: center

}

.card-activity-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2vh;
    padding-right: 2vh;
    border-bottom: 1px solid #80808029;
  h5 {
    color: #040F3D;
    font-weight: bold;
  }
}

.card-activity-buttons {
    display: flex;
    justify-content: center;

}

.card-activity-infos-details a {
  color: #040F3D;
    font-weight: bold;
}

.card-activity-infos-details {
 text-align: center;
}

.card-activity p {
  font-size: 12px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #040F3D;
}

.card-create-activity {
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
