.maincard form {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  &.show {
    height: 100%;
    position: sticky;
    top: 66px;
    background-color: white;
    z-index: 100;
  }

  .date-picker {
    border-radius: 20px;
    width: 30vh;
    margin-bottom: 3vh;
    height: 5vh;
    border-color: #C6C4C5;
    color: #040F3D;
    text-align: center;
    background-color: white;
  }
}

#category-check {
display: flex;
flex-direction: column;
}

.category-btn.select-category{
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  align-items: center;
  margin: 1vh;
  color: #040F3D;
  display:flex;
  justify-content: center;
  border: solid #C6C4C5 1px;
  p {
  margin: 0px !important;
}
}

.category-btn.select-category.selected {
  background-color: #4BFFA5;
  border: none;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1vh;
  margin-bottom: 2vh;
}

.filter-show {
  margin-top: 5vh;
  h3 { text-align: center;
  color: #040F3D;
  font-weight: bold;
  margin-bottom: 2vh;
  }
}

.filter-btn {

}
