.footer {
  justify-content: space-evenly;
  display: flex;
}

.footer-button {
   width: 73px;
   height: 73px;
}




// .footer .footer-collapse {
//   flex-grow: 0;
// }

// .footer .footer-brand img {
//   width: 80px;
// }
