.login-page {
background-color: #4BFFA5;
min-height: 100vh;
height: 100%;
width: 100%;
h1 {
  color: white;
  font-weight: bold;
  font-size: 64px;
 margin: 0;
 text-align: center;
}
h3 {
  color:#040F3D;
  font-weight:bold;
font-size: 24px;
 text-align: center;
}
}

.login-form {
 flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: 2vh;
  p {
    margin-bottom: 0px;
  }
}

.form-inputs {
  width: 260px;
  input {
  border-radius: 16px;
  border-color: #040F3D;
  border-width: 1px; }
  label {
  color: #040F3D;
  font-weight: bold;
  font-size: 16px;
}

}


#activity_description {
      border-radius: 16px;
      border-color: #040F3D;
      border-width: 1px;
}


#facebook-btn {
  color: white;
  border-color: #040F3D;
  background-color: #040F3D;
  font-weight: bold;
  height: 48px;
  margin-bottom: 3vh;
  margin-top: 2vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-login {

}

input.btn {
  width: 260px;
  border-radius: 16px;
  border-color: #040F3D;
  background-color:#040F3D;
  color: white;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.card-login-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center
}

.title-login {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.signin-links {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  a {
  color: white;
  font-weight: bold;
  font-size: 18px }
  p {
    margin-bottom: 0px;
  }
}

.form-check-label.boolean.optional {
color: #040F3D;
}

.logo-login {
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  img {
  height: 13vh;
  width: 13vh; }
}

.division {
text-align: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
