.navbar {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  background: white;
  height: 66px;
  position: sticky;
  top: 0;
  z-index: 999;

}
.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.index-navbar {
  position: sticky;
  top: 0px;
  height: 10vh;
  max-height: 66px;
  z-index: 100;
  width: 100%;
}


.navbar-toggler {
  border-style: none;
  padding: 0;
  button {
    padding: 0px;
  }
}
.nav-link {
  color: #040F3D;
  // font-weight: bold;
}

.nav-tabs .nav-link.active {
  background-color: #E1E2E2;
  color: #040F3D;
  border-color: #E1E2E2;
}

.nav-item {
  text-align: center;

}

.arrow {
  padding: 0 8px;
  background: transparent;
  border-style: none;
}
