.navbar {
  justify-content: space-between;
  background: white;
  display: flex;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.index-navbar {
  position: sticky;
  top: 0px;
  height: 10vh;
  max-height: 66px;
  z-index: 100;
  width: 100%;
}


.nav-link {
  color: #040F3D;
  // font-weight: bold;
}

.nav-tabs .nav-link.active {
  background-color: #E1E2E2;
  color: #040F3D;
  border-color: #E1E2E2;
}

.nav-item {
  text-align: center;
}
