.navbar {
  justify-content: space-between;
  background: white;
  display: flex;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.index-navbar {
  position: sticky;
  top: 0px;
  height: 10vh;
  max-height: 66px;
  z-index: 100;
  width: 100%;
}
