.profile-show {
  height: 0px;
  overflow: hidden;
  &.show {
    height: 100%;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }

}

.profile-info {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px;
}

.user-profile {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    background-position: center;
    border-radius: 50%;

  }
}

.user-div {
  justify-content: space-around;
  display: flex;
  padding-bottom: 4vh;
}


.about-me-section {
  padding: 32px 8px;
  padding-bottom: 0;
  border-top: 1px solid rgba(4,15,61,0.1);

}

.basic-info-section {
  padding-bottom: 16px;
}
