.profile-show {
  height: 0px;
  overflow: hidden;
  &.show {
    height: 100%;
  }
  ul {
    list-style-type: none;
    padding-left: 50px;
    text-align: left;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }

}

.profile-info {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
}

.profile-div {
padding-right: 50px;
}

.user-profile {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    background-position: center;
    border-radius: 50%;

  }
}
