.profile-show {
  height: 0px;
  overflow: hidden;
  &.show {
    height: 100%;
  }
  ul {
    list-style-type: none;
    padding-left: 50px;
    text-align: left;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }

}

.profile-info {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
}

.profile-div {
padding-right: 50px;
}

.user-profile {
  background-repeat: no-repeat;
  img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
    padding: 28px;
    margin-left: 63px;
    margin-right: 63px;
    margin-bottom: 9px;
    margin-top: 20px;
  }
}
