
 .chatHeader {
    background-color: #fff;
    padding: 11px;
    // padding-left: 40px;
    box-shadow: 0 6px 34px -6px #e0e0e0a6;
}

 .headerTitle {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    font-size: 4vh;
    color: #040F3D;
    text-align: center;
}


.activity-icon {
    width: 4vh;
    height: 4vh;
}

 .Txt {
    flex: auto;
    p {
      font-size: 11px;
    }
}

.chat-column {
    display: flex;
    margin-bottom: 2vh;}

 .chatContent .chat-column > .item > .chat-message {
    background-color:  #4BFFA5;
    color: #040F3D;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    line-height: 20px;
    margin-bottom: 3px;
}

 .chatContent .chat-column > .item > .message-date {
    font-size: 10px;
    color: #c6c4c5d1;
    font-weight: 600;
    margin-top: 1px;
}

 .chatContent .chat-column.company {
    flex-direction: row-reverse;
}

 .chatContent .chat-column.company > .item > .chat-icon {
    margin-right: 0;
    margin-left: 13px;
    background-color: #C6C4C5;
    color: white;
}

 .chatContent .chat-column.company > .item > .chat-message {
    background-color: #4bffa54d;
    color: #040F3D;
}

.chat-message p {
  margin: 0;
}


.required.message_content {
 width: 36vh;
 height: 5vh;
}

.participants_button {
  border-radius: 50px;
  align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  background-color: #040F3D;
  color:  #4BFFA5;
  // text-align: center;
}

.user_name {
  font-size: 12.5px;
  color: #45454599;
  padding-top: 2vh;
}

.chat-container {
  height: 68vh
}

.textmsg-box {
  display: flex;
  // bottom: 0;
  position: fixed;
  bottom: 0px;

}

#send-btn {
  width: 10vh;
  border-radius: 0%;
  height: 5vh;
}
